Repository oamg/leapp-insights-tasks: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, sync-scripts-to-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
        fail_fast: true
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: requirements-txt-fixer
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
    - id: black

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: python
        # dependencies are based on freezed versions in requirements.txt
        additional_dependencies: [pylint==2.17.5, pytest==4.6.11, jsonschema==3.2.0]
        args: [
            "-sn", # Don't display the score
            "--rcfile=.pylintrc", # Link to your config file
          ]
      - id: sync-scripts-to-yaml
        name: sync-scripts-to-yaml
        entry: python misc/sync_scripts_to_yaml.py
        args: ["--target", "repo"]
        language: python
        files: scripts/.*\.py$


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
        stages: [manual, push]

Add stoud check for main tests
  tests/test_main.py
Due: pylint

Update upgrade ready message shown to customer
  .pre-commit-config.yaml
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Return error and inhibitor severity to distinguish it in UI
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Distinguish severities in ansible playbooks and improve message output
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_ansible.yml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Adjust ansible severity transofrm based on tests
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_upgrade_ansible.yml
Due: none

Fix reading of txt report in scripts
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
Due: pylint, sync-scripts-to-yaml

Show errors as inhibitors in UI too
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_ansible.yml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Add new inhibitor severity to status maps
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
Due: pylint, sync-scripts-to-yaml

Add more tests cases for main function
  tests/test_main.py
Due: pylint

Sync message format between scripts and ansible playbooks
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_ansible.yml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Adjust message for non-eligible version
  playbooks/leapp_preupgrade_script.yaml
  playbooks/leapp_upgrade_script.yaml
  scripts/leapp_script.py
Due: pylint, sync-scripts-to-yaml

Extend tests to cover posible upgrade with non-inhibiting problems
  tests/test_parse_results.py
Due: pylint

Fix count of errors and inhibitors in ansible tasks
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_upgrade_ansible.yml
Due: none

Remove invalid signatures
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_upgrade_ansible.yml
Due: none

Remove redundant quotes in ansible tasks final message
  playbooks/leapp_preupgrade_ansible.yml
  playbooks/leapp_upgrade_ansible.yml
Due: none

Update playbook file extensions in sync script, and rename ansible playbooks
  misc/sync_scripts.py
  playbooks/leapp-preupgrade.yml
  playbooks/leapp-upgrade.yml
Due: pylint

Change .yaml to .yml
  playbooks/leapp_preupgrade_script.yml
  playbooks/leapp_upgrade_script.yml
Due: none

Adjust sync script and exclude correct variables in yaml envelope of scripts
  misc/sync_scripts.py
  playbooks/leapp_preupgrade_script.yml
  playbooks/leapp_upgrade_script.yml
Due: pylint

Add findings level to playbook worker tasks
  playbooks/leapp-preupgrade.yml
  playbooks/leapp-upgrade.yml
Due: none

Add findings level to script tasks
  schemas/leapp_schema_2.0.json
  scripts/leapp_script.py
  tests/test_main.py
  tests/test_parse_results.py
  tests/test_schema.py
Due: pylint, sync-scripts-to-yaml

Use env variables passed by rhc during execution command
  scripts/leapp_script.py
  tests/test_run.py
Due: pylint, sync-scripts-to-yaml

Use codecov token
  .github/workflows/tests.yml
Due: none

Replace prints by logging and add sso-report logs
  pytest.ini
  scripts/leapp_script.py
  tests/test_logging.py
  tests/test_main.py
Due: pylint, sync-scripts-to-yaml

Update sync script
  Makefile
  misc/sync_scripts.py
  playbooks/leapp_preupgrade_script.yml
  playbooks/leapp_upgrade_script.yml
Due: pylint

Remove duplicate codecov action
  .github/workflows/tests.yml
Due: none

Don't reboot system if upgrade successfull
  playbooks/leapp-upgrade.yml
  scripts/leapp_script.py
  tests/test_main.py
  tests/test_parse_results.py
Due: pylint, sync-scripts-to-yaml

Prepare leapp script tasks for input parameters
  scripts/leapp_script.py
  tests/test_main.py
  tests/test_parse_env_vars.py
  tests/test_run.py
Due: pylint, sync-scripts-to-yaml

Update playbooks
  playbooks/leapp_preupgrade_script.yml
  playbooks/leapp_upgrade_script.yml
Due: none

Update current information about playbooks
  README.md
Due: none
